---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";
@charset "utf-8";

:root {
  --brand-colour: {{ site.brand_colour }};
  --brand-bg-colour: {{site.brand_background_colour}};
  --brand-2nd-colour: {{site.brand_2nd_colour}};
  --masthead-colour: #595e63;
}
/*Footer*/
.page__footer a i {
  color: var(--brand-colour) !important;
}
.page__footer {
  background-color: var(--brand-2nd-colour);
}
.page__footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Header*/
.masthead,
.masthead__menu,
.greedy-nav,
.masthead__menu a,
.masthead--sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: var(--masthead-colour) !important;
  background-color: var(--brand-2nd-colour) !important; /* prevent transparency issues*/
}
.masthead a::before { /*underline of masthead items*/
 background-color: var(--masthead-colour) !important;
}
.site-title,
.site-title:hover,
.greedy-nav .site-title,
.greedy-nav .site-title:hover  {
  color: var(--brand-colour) !important;
}

body {
  background-color: var(--brand-bg-colour);
}

/*Title Image sizing*/
.page__hero,
.page__hero--overlay,
.page__hero-image {
  min-height: 40vh;
  display: flex;
  align-items: center; /* vertical centering */
  text-align: center; 
}

/*TOC*/
.sticky,
.sidebar__right.sticky{
  height: 75px !important; /*65px plus some additional pixels, modify to your taste*/
}

/*reuse for text*/
.left-block {
  display: inline-block;   /* shrink to content */
  text-align: left;        /* inner alignment */
  margin: 0 auto;          /* center the block */
  margin-top: 0;
}

.highlight {
  color: var(--brand-colour);
  font-weight: bold;
  margin-bottom: 0.1em;
}

/*Align feature Items vertically for screen size*/
@media (min-width: 600px) {
  .feature__wrapper .feature__item--left .archive__item-body {
    margin-top: 0;
    position: relative;
    top: -2rem;
  }
  .archive__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}